################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2.1 Practise problem
/Practise problem 2.7
/Practise problem 2.5
/Practise Problem 2.4
/Practise problem 2.3
/Practise problem 2.2
/Opdracht 2 Canvas
/Functie met drie parameters/.vs/Functie met drie parameters/v15/.suo
/.gitignore
/If statements presentation
/If statements presentation
/If statements presentation
